
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title></title>
  <link rel="stylesheet" href="./style.css">
</head>

<body data-ng-app="zoolandar" data-ng-controller="ClassController as vm">
  <header>
    <input class="search" type="text" data-ng-model="vm.searchText" autofocus
    placeholder="Search & Filter"
    data-ng-change="vm.getClasses(vm.searchText)"/>
    <span data-ng-if="vm.searchText">
      <span class="search" >
        {{results.length}}
      </span>
      <span class="search-label">results</span>
      <span class="search">
        {{vm.leads.length}}
      </span>
      <span class="search-label">Lead</span>
      <span class="search">
        {{vm.supports.length}}
      </span>
      <span class="search-label">Support</span>
    </span>
  </header>
  <div class="container">

    <div class='slot' data-ng-repeat="class in vm.searchClasses | filter:vm.searchText as results" data-ng-if="class.lead">
      <p class="title">{{class.title}}</p>
      <div class="info">
        <p class="info-item">{{class.date}}</p>
        <p class="info-item time">{{class.time}}</p>
        <p class="info-item">{{class.classroom}}</p>
      </div>
      <p class="instructors">{{class.lead + " " + ((class.support)?" & ":"") + class.support}}</p>

    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js" charset="utf-8"></script>
<script type="text/javascript">
angular
.module("zoolandar", ["ngResource"])
.controller("ClassController", ["Class", ClassControllerFunc])
.factory("Class", ["$resource", ClassFactory])

function ClassControllerFunc(Class){
  this.classes = Class.query( res => {
    this.searchClasses = this.classes.map( slot => (delete slot.url) ? slot:slot);
  });
  this.getClasses = instructor =>  {this.getLeads(instructor), this.getSupports(instructor)}
  this.getLeads = instructor => {
    instructor = instructor[0].toUpperCase() + instructor.toLowerCase().substr(1);
    this.leads = this.classes.filter( slot => slot.lead === instructor);
    return this.leads;
  }
  this.getSupports = instructor => {
    instructor = instructor[0].toUpperCase() + instructor.toLowerCase().substr(1);
    this.supports = this.classes.filter( slot => slot.support === instructor)
    return this.supports;
  }
}

function ClassFactory($resource){
  return $resource("https://whenamion.herokuapp.com/schedule");
}



</script>
</html>
