body {
  font-family: Courier;
  background-color: #656350;
}

header {
  text-align: center;
}

.search, .search-label {
  font-family: Courier;
  font-size: 48px;
  border-radius: .25em;
  padding: .25em;
  margin: .5em;
  text-align: center;
  color: #b1ff0a;
  background-color: rgb(79,67,48);
}

.search-label {
  font-size: 16px;
}

span {
  margin: .25em;
  padding: .5em;
}

.info, .instructors {
  color: rgb(177,255,10);
  border-radius: .25em;
  padding: .5em;
  background-color: rgb(79,67,48);
}

.title {
  border-radius: .25em;
  padding: .25em;
  font-weight: bold;
  font-size: 24px;
  -webkit-text-stroke: 1px rgba(122,122,122,0.5);
  background-color: rgb(255,255,222);
  color: rgb(99,67,48);
}

.slot {
  margin: .5em;
  border: 4px double rgb(79,67,48);
  border-radius: 14px;
  background-color: #e2e0c9;
  max-width: 15%;
  text-align: center;
  flex-grow: 1;
  padding: .5em;
  background-image: radial-gradient(ellipse farthest-side at 0% 0%, rgba(226,255,171,0.2) 0%, rgba(67,37,18,0.1) 95%);

}

.container {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.instructors {
  padding: .5em;
  border-radius: .25em;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(255,255,222);
  color: rgb(99,67,48);
}

.info-item {
  margin: .25em;
}

.time{
  background-color: ;
}
